<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>ToDo Application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/styles.css"/>
</head>
<body>
<ul>
    <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>

    <h2>
        <form action="#" th:action="@{/addNewTask}" th:object="${task}" method="post">
            <tr>
                <td>Add new Task:</td>
                <td><input type="text" th:field="*{taskName}" placeholder="Task name"/></td>
                <td th:if="${#fields.hasErrors('taskName')}" th:errors="*{taskName}">Error</td>
                <td>
                    <button type="submit">Submit</button>
                </td>
            </tr>
        </form>
    </h2>

    <table>
        <tr>
            <td>Things to do:</td>
            <td>
                <form th:each="taskToDo:${allToDoTasks}">
                    <p th:text="${taskToDo.getTaskName()}"></p>
                </form>
            </td>
            <td>
                <form action="/setInProgress" th:each="taskToDo:${allToDoTasks}">
                    <input type="hidden" name="id" th:value="${taskToDo.getId()}"/>
                    <input type="submit" name="taskToDo" value="set In Progress"/>
                </form>
            </td>
            <td>
                <form action="/setDone" th:each="taskToDo:${allToDoTasks}">
                    <input type="hidden" name="id" th:value="${taskToDo.getId()}"/>
                    <input type="submit" name="taskToDo" value="set Done"/>
                </form>
            </td>
            <td>
                <form action="/deleteTask" th:each="taskToDo:${allToDoTasks}">
                    <input type="hidden" name="id" th:value="${taskToDo.getId()}"/>
                    <input type="submit" name="taskToDo" value="Delete"/>
                </form>
            </td>
            <td>Things in progress:</td>
            <td>
                <form th:each="taskToDo:${allInProgressTasks}">
                    <p th:text="${taskToDo.getTaskName()}"></p>
                </form>
            </td>
            <td>
                <form action="/setToDo" th:each="taskToDo:${allInProgressTasks}">
                    <input type="hidden" name="id" th:value="${taskToDo.getId()}"/>
                    <input type="submit" name="taskToDo" value="set To Do"/>
                </form>
            </td>
            <td>
                <form action="/setDone" th:each="taskToDo:${allInProgressTasks}">
                    <input type="hidden" name="id" th:value="${taskToDo.getId()}"/>
                    <input type="submit" name="taskToDo" value="set Done"/>
                </form>
            </td>
            <td>
                <form action="/deleteTask" th:each="taskToDo:${allInProgressTasks}">
                    <input type="hidden" name="id" th:value="${taskToDo.getId()}"/>
                    <input type="submit" name="taskToDo" value="Delete"/>
                </form>
            </td>

            <td>Things done:</td>
            <td>
                <form th:each="taskToDo:${allDoneTasks}">
                    <p th:text="${taskToDo.getTaskName()}"></p>
                </form>
            </td>
            <td>
                <form action="/setToDo" th:each="taskToDo:${allDoneTasks}">
                    <input type="hidden" name="id" th:value="${taskToDo.getId()}"/>
                    <input type="submit" name="taskToDo" value="set To Do"/>
                </form>
            </td>
            <td>
                <form action="/setInProgress" th:each="taskToDo:${allDoneTasks}">
                    <input type="hidden" name="id" th:value="${taskToDo.getId()}"/>
                    <input type="submit" name="taskToDo" value="set In Progress"/>
                </form>
            </td>
            <td>
                <form action="/deleteTask" th:each="taskToDo:${allDoneTasks}">
                    <input type="hidden" name="id" th:value="${taskToDo.getId()}"/>
                    <input type="submit" name="taskToDo" value="Delete"/>
                </form>
            </td>
        </tr>
    </table>

    <li>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </li>

</ul>
</body>
</html>
