<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
>

<head>
    <title>ToDo Application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/styles.css"/>
</head>
<body>
<ul>
    <form action="#" th:action="@{/registry}" th:object="${user}" method="post">
        <table>
            <tr>
                <td>Name:</td>
                <td><input type="text" th:field="*{username}" placeholder="username"/></td>
                <td th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Error</td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="password" th:field="*{password}" placeholder="password"/></td>
                <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Error</td>
            </tr>
            <tr>
                <td>Password Confirm:</td>
                <td><input type="password" th:field="*{passwordConfirm}" placeholder="password confirm"/></td>
                <td th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}">Error</td>
                <td></td>
            </tr>

            <tr>
                <td>Role:</td>
                <td><select th:field="*{role}">
                    <option
                            th:each="role : ${T(toDo.model.RoleEnum).values()}"
                            th:value="${role}"
                            th:text="${role}">
                    </option>
                </select></td>
                <td th:if="${#fields.hasErrors('role')}" th:errors="*{role}">Error</td>

            </tr>
            <tr>
                <td>
                    <button type="submit">Submit</button>
                </td>
            </tr>
        </table>
    </form>
</ul>
</body>
</html>